<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Additional CSS -->
    <link rel="stylesheet" type="text/css" href="home.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700,900&display=swap" rel="stylesheet">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>EndGem</title>
  </head>
  <body onresize="changeDropToggle()">

    <nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color: #e3f2fd;">
      <div class="container-fluid">
      <a class="navbar-brand mr-1" href="/">EndGem</a>
      </button>
      <ul class="nav nav-pills mx-auto" id="pills-tab" role="tablist">
          <li class="nav-item d-none d-sm-flex">
            <a class="nav-link active show" id="pills-c1-tab" data-toggle="pill" href="#pills-c1" role="tab" aria-controls="pills-c1" aria-selected="true">Course 1</a>
          </li>
          <li class="nav-item d-none d-sm-flex">
            <a class="nav-link" id="pills-c2-tab" data-toggle="pill" href="#pills-c2" role="tab" aria-controls="pills-c2" aria-selected="false">Course 2</a>
          </li>
          <li class="nav-item d-none d-sm-flex">
            <a class="nav-link" id="pills-c3-tab" data-toggle="pill" href="#pills-c3" role="tab" aria-controls="pills-c3" aria-selected="false">Course 3</a>
          </li>
          <li class="nav-item d-none d-sm-flex">
            <a class="nav-link" id="pills-c4-tab" data-toggle="pill" href="#pills-c4" role="tab" aria-controls="pills-c4" aria-selected="false">Course 4</a>
          </li>
          <li class="nav-item">
            <div class="btn-group  d-sm-none">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Course 1</a>
                <a class="dropdown-item" href="#">Course 2</a>
                <a class="dropdown-item" href="#">Course 3</a>
                <a class="dropdown-item" href="#">Course 4</a>
              </div>
            </div>
          </li>
      </ul> 
      <span class="navbar-text">
        <a class="btn btn-primary btn-sm text-white mx-1" href="/add"><i class="fas fa-plus"></i></a>
        <button class="btn btn-primary btn-sm" id="leadbtn"><i id="leadicon" class="fas fa-bars"></i></button>
      </span>       
      </div>
    </nav>

    <div class="container-fluid">
    <div class="topgem noLboard bg-primary text-white">
      <div class="d-none LBoardContent container px-5">
        <h1 class="py-4 tgh1 gradientBg"> Top Gem <i class="fas fa-trophy"></i></h1>
        <h5 class="pb-4 tgh5"></h5>
        <ul class="TopGemList text-primary">
        </ul>
      </div>
    </div>

    <div class="tab-content container py-3" id="pills-tabContent">

      <div class="tab-pane fade show active" id="pills-c1" role="tabpanel" aria-labelledby="pills-c1-tab">
        <div class="row justify-content-center">
          <% course1.forEach(function(course){ %> 
            <div class="card mx-2 my-2 gradientBg col-md-6 col-lg-3 text-center text-white" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title c1DispName"><%= course.DisplayName %></h5>
              <p class="card-text">Total Downloads : <span class="TotalDownload c1totalDownload"><%= course.TotalDownloads %></span></p>
              <a href="uploads/<%= course.location %>" class="btn btn-outline-light"><i class="fas fa-download"></i>  Download</a>
            </div>
          </div>
          <% }); %>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-c2" role="tabpanel" aria-labelledby="pills-c2-tab">
        <div class="row justify-content-center">
          <% course2.forEach(function(course){ %>
            <div class="card mx-2 my-2 gradientBg col-md-6 col-lg-3 text-center text-white" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title c2DispName"><%= course.DisplayName %></h5>
              <p class="card-text" i>Total Downloads : <span class="TotalDownload c2totalDownload"><%= course.TotalDownloads %></span></p>
              <a href="uploads/<%= course.location %>" class="btn btn-outline-light"><i class="fas fa-download"></i>  Download</a>
            </div>
          </div>
          <% }); %>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-c3" role="tabpanel" aria-labelledby="pills-c3-tab">
        <div class="row justify-content-center">
          <% course3.forEach(function(course){ %>
            <div class="card mx-2 my-2 gradientBg col-md-6 col-lg-3 text-center text-white" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title c3DispName"><%= course.DisplayName %></h5>
              <p class="card-text">Total Downloads : <span class="TotalDownload c3totalDownload"><%= course.TotalDownloads %></span></p>
              <a href="uploads/<%= course.location %>" class="btn btn-outline-light"><i class="fas fa-download"></i>  Download</a>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-c4" role="tabpanel" aria-labelledby="pills-c4-tab">
        <div class="row justify-content-center">
          <% course4.forEach(function(course){ %>
            <div class="card mx-2 my-2 gradientBg col-md-6 col-lg-3 text-center text-white" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title c4DispName"><%= course.DisplayName %></h5>
              <p class="card-text">Total Downloads : <span class="TotalDownload c4totalDownload"><%= course.TotalDownloads %></span></p>
              <a href="uploads/<%= course.location %>" class="btn btn-outline-light"><i class="fas fa-download"></i>  Download</a>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    </div>
    


    <!-- Optional JavaScript -->
    <script type="text/javascript" src="home.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
